fastapi==0.110.0
uvicorn==0.27.1

sentence-transformers==2.2.2
faiss-cpu==1.7.4
transformers==4.36.2
pydantic
python-dotenv
tavily-python
python-dotenv
pypdf==4.0.1
python-multipart==0.0.6
langgraph
langchain-core
langchain-community
torch==2.1.2
numpy<2.0
